<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <head>
    <title>Similar Celebrities</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

<body>
<h3 class="card-header">Which celebrity do you look like?</h3>

<form action="/" enctype="multipart/form-data" method="post">
    <input type="file" name="image"/>
    <input class="btn" type="submit" value="Upload">

    <label class="sr-only" for="img_count">Celebrities count</label>
    <select class="form-control" id="img_count" name="img_count">
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3" selected>3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select>

</form>

<div class="container">
    {% if usr_image_name %}
        <h4>Your image:</h4>
        <img class="container_image" src=" {{url_for('send_usr_image', filename=usr_image_name)}}" height="300" border="2">
    {% endif %}
    <div class="row">
        {% if usr_image_name %}
            <h4>Celebrities:</h4>
            {% for image_name in image_names %}
                <img class="container_image" src=" {{url_for('send_image', filename=image_name)}}" height="300" margin-left="10">
            {% endfor %}
            {% if image_names|length < 1 %}
                <h4>Can't find face in file, try again</h4>
            {% endif %}
        {% endif %}
    </div>
</div>

</body>
</html>
